<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="../css//bootstrap.min.css">
  <title>Dynamic</title>
</head>

<body>
  {{>navbar}}
  {{!-- Hero section starts --}}
  <div class='container-fluid mt-1'>
    <div class='row'>
      <div class='col-md-10 col-12 mx-auto'>
        <div class='row'>
          <div
            class='col-md-6 col-12 hero-text order-md-0 order-1 d-flex justify-content-center align-items-start flex-column'>
            <h1>We will help you to </h1>
            <h1>grow your bussiness</h1>
            <p>We are a team of <span class='bold-style'>Professional Developers</span></p>
            <button class='btn-style btn-primary'>Read More</button>
          </div>
          {{!-- Right side --}}
          <div class="col-md-6 col-12 hero-text order-md-1 order-0">
            <figure>
              <img src="images/growth.svg" alt='heroimage'>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{!-- Hero Section ends --}}

  {{!-- About section starts --}}
  {{>about}}
  {{!-- About Section ends --}}

  {{!-- Our Services section starts --}}
  {{>service}}
  {{!-- Our Services Section ends --}}

  {{!-- Our Maps section starts --}}
  {{>maps}}
  {{!-- Our Maps Section ends --}}

  {{!-- Our Contact section starts --}}
  {{>contact}}
  {{!-- Our Contact Section ends --}}

  <script src='../jq/jquery.js' type='text/javascrpt'></script>
  <script src='../js/bootstrap.js' type='text/javascrpt'></script>
</body>

</html>