<div class='container-fluid mt-1 about-style' id='aboutid'>
    <div class='row'>
      <div class='col-md-10 col-12 mx-auto'>
        <h1 class="text-center main-heading">About US</h1>
        <p class='text-center sub-heading'>Grow your bussiness with us</p>
        <div class='row'>
          <div class="col-md-6 col-12 hero-text">
            <figure>
              <img src="images/about.svg" alt='heroimage'>
            </figure>
          </div>
          {{!-- Right side --}}
          <div class='col-md-6 col-12 hero-text d-flex justify-content-center align-items-start flex-column'>
            <h1>We are Professional Developers</h1>
            <p>I am <span class='bold-style'>Tony Stark </span> well trained MERN Stack developer</p>
            <button class='btn-style btn-primary'>Read More</button>
          </div>
        </div>
      </div>
    </div>
  </div>